# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.env/
venv/
venv*/
ENV/
.env.bak
.envrc

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store

# Environment files (VERY IMPORTANT)
.env
